@import 'utils';



header {
    background : $oc-gray-9;
    height: 5rem;
    color: white;
    padding: 1rem;

    display: flex;
    align-items: center;

    font-size: 2rem;
    font-weight: 600;

    //태블릿 사이즈에서 폰트 크기 줄이기.
    @include media("<tablet") {
        font-size: 1.25rem;
    }
}

.viewer-template {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    // .viewer-wrapper {
    //     //position: absolute;
    //     //height: calc(100vh - 5rem); // 페이지에서 헤더를 제외한 영역 모두 채우기.

       
        
    // }
    
}